* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background: url('./img/fondo11.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10vh;
}

.container {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    padding: 30px;
    border-radius: 10px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-top: 10px;
}

h3 {
    font-size: 1.5rem;
    margin-top: 10px;
}

p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    font-size: 1.5rem;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0056b3;
    color: white;
    transition: background-color 0.3s ease;
    width: 40%;
}

button:hover {
    background-color: #003d80;
    cursor: pointer;
}
